@use '../base/variables' as v;
@use '../base/mixins' as m;
.current-day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.9rem;
    color: v.$palette1-3;
    width: 215px;
}