@use '../base/variables' as v;
@use '../base/mixins' as m;
.container-diary-cell {
  width: 420px;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  .container-diary-cell__title {
    display: flex;
    width: 420px;
    height: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: v.$palette1-1;
    p {
      font-family: v.$secondary-font;
      font-size: 2rem;
      color: v.$white;
      margin: 3px 0 0 25rem;
    }
  }
  .container-diary-cel__content {
    width: 420px;
    height: 103px;
    padding: 0 1rem 0 2rem;
    margin: .7rem 0;
    overflow-y: scroll;
    .diary-cel__content--show {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      p {
        font-size: 1.7rem;
        color: rgba($color: v.$black, $alpha: .6);
        margin: .3rem 0 .1rem 0;
        width: 355px;
      }
      .diary-cel__content--show-asterix {
        font-size: .9rem;
        color: rgba($color: v.$black, $alpha: .5);
        margin-right: .5rem;
      }
    }
    .container-icon-cross {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 20px;
      .diary-cel__content--show-cross {
        font-size: 1.4rem;
        color: rgba($color: v.$black, $alpha: .3);
        &:active {
          font-size: 1.2rem;
        }
        &:hover {
          color: rgba($color: red, $alpha: .5);
        }
      }
    }
    .diary-cel__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 395px;
    }
    .diary-cel__input--show {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .diary-cel__content--input-asterix {
        font-size: .9rem;
        color: rgba($color: v.$black, $alpha: .5);
        margin-right: .5rem;
      }
      p {
        font-size: 1.7rem;
        color: rgba($color: v.$black, $alpha: .3);
        margin: .3rem 0 .1rem 0;
      }
    }
    .diary-cel__input {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .diary-cel__content--input-asterix {
        font-size: .9rem;
        color: rgba($color: v.$black, $alpha: .5);
        margin-right: .5rem;
      }
      input {
        font-size: 1.7rem;
        color: rgba($color: v.$black, $alpha: .6);
        margin: -5px 0;
        padding: 0;
        border: none;
        width: 355px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
}