// FONTS
$primary-font: 'Niconne', cursive;
$secondary-font: 'NTR', sans-serif;

// COLORS
$white: #FFFFFF;
$black: #000000;

$palette1-4: #80558C;
$palette1-3: #AF7AB3;
$palette1-2: #CBA0AE;
$palette1-1: #E4D192;

// MEDIA SIZE
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;